<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Smart Tachito Store</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- gLightbox gallery-->
  <link rel="stylesheet" href="/css/glightbox.min.css">
  <!-- Range slider-->
  <link rel="stylesheet" href="/css/nouislider.min.css">
  <!-- Choices CSS-->
  <link rel="stylesheet" href="/css/choices.min.css">
  <!-- Swiper slider-->
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <!-- Google fonts-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.3fcf2f25.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="/css/custom.0a822280.css">
  <!-- Favicon-->
  <link rel="icon" href="/logo.ico">
</head>

<body>
  <div class="page-holder bg-light">
    <!-- navbar-->
    <header class="header bg-white">
      <div class="container px-lg-3">
        <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
          <a class="navbar-brand" href="/index.html">
            <span class="fw-bold text-uppercase text-dark">Smart Tachito Store</span>
          </a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/html/shop.html">Comprar</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="/html/cart.html"> <i
                    class="fas fa-dolly-flatbed me-1 text-gray"></i>Carrito<small class="text-gray fw-normal"
                    id="contenedor-cantidad-carrito"></small></a></li>
              <li class="acceso"><a class="nav-link" href="#!"><i
                    class="fas fa-user me-1 text-gray fw-normal"></i>Acceder</a>
              </li>
            </ul>
          </div>
          <div id="mainModal" class="modal">
            <div class="modal-content">
              <span class="close" id="closeMainModal">&times;</span>
              <button id="loginBtn">Login</button>
              <button id="registerBtn">Registro</button>
              <button id="userDetailBtn" style="display: none;">Detalle de Usuario</button>
              <button id="logoutBtn" style="display: none;">Cerrar sesión</button>
            </div>
          </div>

          <div id="login-modal" class="modal">
            <div class="modal-content" id="login-modal-content">
            </div>
          </div>
          <div id="register-modal" class="modal">
            <div class="modal-content" id="register-modal-content">
            </div>
          </div>
          <!-- Fin de login y registro -->
        </nav>
      </div>
    </header>
    <section class="py-5">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-6">
            <div class="row m-sm-0">
              <div class="col-sm-2 p-sm-0 order-2 order-sm-1 mt-2 mt-sm-0 px-xl-2">
                <div class="swiper product-slider-thumbs"
                  style="display: flex; flex-direction: column; align-items: center;">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="w-100"  src="" alt="..."
                        id="imagen-principal"></div>
                    <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="w-100" src="" alt="..."
                        id="imagen-secundaria-1"></div>
                    <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="w-100" src="" alt="..."
                        id="imagen-secundaria-2"></div>
                    <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="w-100" src="" alt="..."
                        id="imagen-secundaria-3"></div>
                    <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="w-100" src="" alt="..."
                        id="imagen-360"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-10 order-1 order-sm-2">
                <div class="swiper product-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide h-auto">
                      <a class="glightbox product-view" href="" data-gallery="gallery2" data-glightbox="Product item 1"
                        id="imagen-principal-link">
                        <img class="img-fluid" src="" alt="..." width="100%"  id="img-p">
                      </a>
                    </div>
                    <div class="swiper-slide h-auto">
                      <a class="glightbox product-view" href="" data-gallery="gallery2" data-glightbox="Product item 2"
                        id="imagen-secundaria-1-link">
                        <img class="img-fluid" src="" alt="..." width="100%"  id="img-1">
                      </a>
                    </div>
                    <div class="swiper-slide h-auto">
                      <a class="glightbox product-view" href="" data-gallery="gallery2" data-glightbox="Product item 3"
                        id="imagen-secundaria-2-link">
                        <img class="img-fluid" src="" alt="..." width="100%"  id="img-2">
                      </a>
                    </div>
                    <div class="swiper-slide h-auto">
                      <a class="glightbox product-view" href="" data-gallery="gallery2" data-glightbox="Product item 4"
                        id="imagen-secundaria-3-link">
                        <img class="img-fluid" src="" alt="..." width="100%"  id="img-3">
                      </a>
                    </div>
                    <div class="swiper-slide h-auto">
                      <a class="glightbox product-view" href="" data-gallery="gallery2" data-glightbox="Product item 5"
                        id="imagen-360-link">
                        <img class="img-fluid" src="" alt="..." width="100%"  id="img-360">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h1 id="nombre-producto"></h1>
            <p class="text-muted lead" id="precio-producto"></p>
            <p class="text-sm mb-4" id="descripcion-corta-producto"></p>
            <div class="row align-items-stretch mb-4">
              <div class="col-sm-5 pr-sm-0">
                <div class="border d-flex align-items-center justify-content-between py-1 px-3 bg-white border-white">
                  <span class="small text-uppercase text-gray mr-4 no-select">Cantidad</span>
                  <div class="quantity">
                    <button class="dec-btn p-0"><i class="fas fa-caret-left"></i></button>
                    <input id="cantidad-producto" class="form-control border-0 shadow-0 p-0" type="text" value="1">
                    <button class="inc-btn p-0"><i class="fas fa-caret-right"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 pl-sm-0"><a
                  class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0"
                  href="/html/cart.html" id="agregar-al-carrito">Agregar</a></div>
            </div>
            <ul class="list-unstyled small d-inline-block">
              <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Stock:</strong><a
                  class="reset-anchor ms-2" href="#!" id="categoria-producto"></a></li>
              <li class="px-3 py-2 mb-1 bg-white text-muted"><strong
                  class="text-uppercase text-dark">Categoría:</strong><a class="reset-anchor ms-2" href="#!"
                  id="categoria-nombre"></a></li>
            </ul>
          </div>
        </div>
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-uppercase active" id="description-tab" data-bs-toggle="tab" href="#description"
              role="tab" aria-controls="description" aria-selected="true">
              Descripción
            </a>
          </li>
        </ul>
        <div class="tab-content mb-5" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="p-4 p-lg-5 bg-white">
              <h6 class="text-uppercase" id="nombre-producto-2"></h6>
              <p class="text-muted text-sm mb-0" id="descripcion-larga-producto"></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-dark text-white">
      <div class="container py-4">
        <div class="row py-5">
          <div class="col-md-4 mb-3 mb-md-0">
            <h6 class="text-uppercase mb-3">Servicio al cliente</h6>
            <ul class="list-unstyled mb-0">
              <li><a class="footer-link" href="#!">Contáctanos</a></li>
              <li><a class="footer-link" href="#!">Cambios y devoluciones</a></li>
              <li><a class="footer-link" href="#!">Términos y condiciones</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <h6 class="text-uppercase mb-3">A cerca de nosotros</h6>
            <ul class="list-unstyled mb-0">
              <li><a class="footer-link" href="#!">¿Quiénes somos?</a></li>
              <li><a class="footer-link" href="#!">Nuestra ubicación</a></li>
              <li><a class="footer-link" href="#!">Alianzas estratégicas</a></li>
            </ul>
          </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
          <div class="row">
            <div class="col-md-6 text-center text-md-start">
              <p class="small text-muted mb-0">© 2024 Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
              <p class="small text-muted mb-0">Vendido por <a class="text-white reset-anchor"
                  href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template">Smart Tachito</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript files-->
    <script src="/js/detail.js"></script>
    <script src="/js/acceso.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/choices.min.js"></script>
    <script src="/js/front.e0700006.js"></script>
    <script src="/js/js-cookie.55cdbe0d.js"> </script>
    <script src="/js/demo.aa085612.js"> </script>
    <script>
      function injectSvgSprite(path) {
        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function (e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
        }
      }

      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

    </script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="/css/all.css" crossorigin="anonymous">
  </div>

</body>

</html>