<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/custom.0a822280.css">
    <title>Iniciar Sesión</title>
</head>

<body>
    <div class="login-container">
        <span class="close-modal" id="close-login-modal">&times;</span>
        <h2>Iniciar Sesión</h2>
        <form id="login-form">
            <div class="input-group">
                <label for="email"><b>Correo</b></label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password"><b>Contraseña</b></label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Ingresar</button>
            <div id="login-message"></div>
        </form>
    </div> 
    <script src="/js/acceso.js"></script>
</body>

</html>
