<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Smart Tachito Store</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- gLightbox gallery-->
  <link rel="stylesheet" href="/css/glightbox.min.css">
  <!-- Range slider-->
  <link rel="stylesheet" href="/css/nouislider.min.css">
  <!-- Choices CSS-->
  <link rel="stylesheet" href="/css/choices.min.css">
  <!-- Swiper slider-->
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <!-- Google fonts-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="/css/style.default.3fcf2f25.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="/css/custom.0a822280.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/images/logo.png">
</head>

<body>
  <div class="page-holder">
    <!-- navbar-->
    <header class="header bg-white">
      <div class="container px-lg-3">
        <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
          <a class="navbar-brand" href="/index.html">
            <span class="fw-bold text-uppercase text-dark">Smart Tachito Store</span>
          </a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <!-- Link--><a class="nav-link active" href="/index.html">Home</a>
              </li>
              <li class="nav-item">
                <!-- Link--><a class="nav-link" href="/html/shop.html">Comprar</a>
              </li>

            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="/html/cart.html"> <i
                    class="fas fa-dolly-flatbed me-1 text-gray"></i>Carrito<small
                    class="text-gray fw-normal" id="contenedor-cantidad-carrito"></small></a></li>
              <li class="acceso"><a class="nav-link" href="#!"><i
                    class="fas fa-user me-1 text-gray fw-normal"></i>Acceder</a>
              </li>
            </ul>
          </div>
          <div id="mainModal" class="modal">
            <div class="modal-content">
              <span class="close" id="closeMainModal">&times;</span>
              <button id="loginBtn">Login</button>
              <button id="registerBtn">Registro</button>
              <button id="userDetailBtn" style="display: none;">Detalle de Usuario</button>
              <button id="logoutBtn" style="display: none;">Cerrar sesión</button>
            </div>
          </div>

          <div id="login-modal" class="modal">
            <div class="modal-content" id="login-modal-content">
            </div>
          </div>
          <div id="register-modal" class="modal">
            <div class="modal-content" id="register-modal-content">
            </div>
          </div>
          <!-- Fin de login y registro -->
        </nav>
      </div>
    </header>

    <main id="mainContent">
      <div class="container">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center"
          style="background: url(images/hero-banner-alt.3ea3fe2d.jpg)">
          <div class="container py-5">
            <div class="row px-4 px-lg-5">
              <div class="col-lg-6">
                <p class="text-muted small text-uppercase mb-2">Nueva Colección 2024</p>
                <h1 class="h2 text-uppercase mb-3">Ecotecnología ahora de más colores</h1><a class="btn btn-dark"
                  href="/html/shop.html">Nuevos Modelos</a>
              </div>
            </div>
          </div>
        </section>
        <!-- CATEGORIES SECTION-->
        <section class="pt-5">
          <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Cuidando el medio ambiente con estilo</p>
            <h2 class="h5 text-uppercase mb-4">Explora nuestras categorías</h2>
          </header>
          <div class="row">
            <div id="categoria-container" class="categoria-container"></div>
          </div>
        </section>
        <!-- SERVICES-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row text-center gy-3">
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="d-flex align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#delivery-time-1"> </use>
                    </svg>
                    <div class="text-start ms-3">
                      <h6 class="text-uppercase mb-1">Envío seguro</h6>
                      <p class="text-sm mb-0 text-muted">Cobertura en todo el Perú</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="d-flex align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#helpline-24h-1"> </use>
                    </svg>
                    <div class="text-start ms-3">
                      <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                      <p class="text-sm mb-0 text-muted">Soporte con Smart Callcito</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="d-flex align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#label-tag-1"> </use>
                    </svg>
                    <div class="text-start ms-3">
                      <h6 class="text-uppercase mb-1">Ecofollower</h6>
                      <p class="text-sm mb-0 text-muted">Grandes descuentos para ti</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- NEWSLETTER-->
        <section class="py-5">
          <div class="container p-0">
            <div class="row gy-3">
              <div class="col-lg-6">
                <h5 class="text-uppercase">Únete a la comunidad más eco cooll!</h5>
                <p class="text-sm text-muted mb-0">Recibe las mejores ofertas antes que los demás.</p>
              </div>
              <div class="col-lg-6">
                <form action="#">
                  <div class="input-group">
                    <input class="form-control form-control-lg" type="email" placeholder="Ingresa aquí tu E-mail"
                      aria-describedby="button-addon2">
                    <button class="btn btn-dark" id="button-addon2" type="submit">Subscríbete</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer class="bg-dark text-white">
      <div class="container py-4">
        <div class="row py-5">
          <div class="col-md-4 mb-3 mb-md-0">
            <h6 class="text-uppercase mb-3">Servicio al cliente</h6>
            <ul class="list-unstyled mb-0">
              <li><a class="footer-link" href="#!">Contáctanos</a></li>
              <li><a class="footer-link" href="#!">Cambios y devoluciones</a></li>
              <li><a class="footer-link" href="#!">Términos y condiciones</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <h6 class="text-uppercase mb-3">A cerca de nosotros</h6>
            <ul class="list-unstyled mb-0">
              <li><a class="footer-link" href="#!">¿Quiénes somos?</a></li>
              <li><a class="footer-link" href="#!">Nuestra ubicación</a></li>
              <li><a class="footer-link" href="#!">Alianzas estratégicas</a></li>
            </ul>
          </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
          <div class="row">
            <div class="col-md-6 text-center text-md-start">
              <p class="small text-muted mb-0">© 2024 Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
              <p class="small text-muted mb-0">Vendido por <a class="text-white reset-anchor"
                  href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template">Smart Tachito</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="/js/index.js"></script>
    <script src="/js/acceso.js"></script>
    <script src="/js/categorias.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/62e2405c3e.js" crossorigin="anonymous"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/choices.min.js"></script>
    <script src="/js/front.e0700006.js"></script>
    <script src="/js/js-cookie.55cdbe0d.js"> </script>
    <script src="/js/demo.aa085612.js"> </script>
    <script>
      function injectSvgSprite(path) {

        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function (e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
        }
      }
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
    </script>
    <link rel="stylesheet" href="css/all.css" crossorigin="anonymous">
  </div>

</body>
<script>
  <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.211 0.153094C1.07 0.0450938 0.911 -0.00390625 0.755 -0.00390625C0.366 -0.00390625 0 0.302094 0 0.745094V9.24609C0 9.69109 0.367 9.99609 0.755 9.99609C0.912 9.99609 1.071 9.94609 1.212 9.83709C2.766 8.63409 5.411 6.58509 6.71 5.57909C6.894 5.43709 7 5.21909 7 4.98709C7 4.75709 6.893 4.53809 6.709 4.39609C5.41 3.39409 2.764 1.35209 1.211 0.153094Z" fill="white"/>
  </svg>
</script>

</html>
