/* Reset básico */
.nosotros-container, .nosotros-container h2, .nosotros-container h3, .nosotros-container p, .nosotros-container div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nosotros-container {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
}

.nosotros-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #007bff;
    animation: fadeInDown 1s ease-in-out;
}

.nosotros-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #6c757d;
    animation: fadeInUp 1s ease-in-out;
}

.equipo-container {
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipo-container h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #343a40;
    animation: fadeInDown 1s ease-in-out;
}

.equipo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px; /* Ajusta según tus necesidades */
    animation: fadeIn 1.5s ease-in-out;
    justify-content: center;
}

.equipo-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: fadeInUp 1s ease-in-out;
    text-align: center;
}

.equipo-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.equipo-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem 0;
}

.equipo-item h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0 1rem;
    color: #343a40;
}

.equipo-item p {
    font-size: 1rem;
    margin: 0 0 1rem;
    padding: 0 1rem;
    color: #6c757d;
}

/* Animaciones */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
